# shellcheck shell=bash

PROJECT_ROOT_DIR="$(realpath "${BASH_SOURCE[0]%/*}")"

export PROJECT_ROOT_DIR
export PROJECT_GIT_HOOK_DIR="${PROJECT_ROOT_DIR}/.github/hooks"
export PROJECT_SCRIPT_DIR="${PROJECT_ROOT_DIR}/scripts"
export PROJECT_APP_NAME="eggo"
export PROJECT_GO_MOD_PATH="github.com/drakelthedragon/${PROJECT_APP_NAME}"